<div class="card">
  <div class=" col-md-12  card card-inverse card-primary">
    <blockquote class="card-blockquote">
      <h4>{{title}}</h4>
    </blockquote>
  </div>
  <br><br>
  <div class="col-md-3">
    <ng-template #content let-c="close" let-d="dismiss">
      <div class="modal-header card-primary">
        <h4 class="modal-title">Formulario {{title}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
      </div>
      <div class="modal-body">
        <pre>nomre:{{nombre |json}}</pre>
        <pre>ruc:{{ruc |json}}</pre>
        <div class="form-group row" [ngClass]="{'has-error': !name.valid}">
          <label for="nombre" class="col-2 col-form-label">Nombre</label>
          <div class="col-10">
            <input class="form-control" [(ngModel)]="nombre"
            type="text" id="nombre" name="nombre" #name="ngModel" required>
            <div *ngIf="name.errors">
              {{name.errors.required}}
            </div>
          </div>
        </div>
      </div>
      <pre>Validacion= {{name.className}}</pre>
      <div class="modal-body">
        <div class="form-group row">
          <label for="ruc" class="col-2 col-form-label">RUC</label>
          <div class="col-10">
            <input class="form-control"  [(ngModel)]="ruc" name="ruc"
             type="number" id="ruc" #number required>
          </div>
        </div>
      </div>
      <pre>Validacion= {{number.className}}</pre>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Cancelar</button>
        <button type="button" class="btn btn-outline-success btn-block" (click)="c('Close click')">Guardar</button>
      </div>
    </ng-template>

    <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Nuevo</button>

    <hr>

    <pre>{{closeResult}}</pre>
  </div>

  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>N°</th>
          <th>Nombre</th>
          <th>RUC</th>
          <th>Creado Por</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>

      </tbody>
    </table>
  </div>
  <ngb-pagination [collectionSize]="70" [(page)]="page" aria-label="Default pagination"></ngb-pagination>
</div>
